@font-face {
  font-family: 'GermaniaVersalien';
  font-display: auto;
  src: url(assets/fonts/GermaniaVersalien.ttf) format('truetype');
}

@font-face {
  font-family: 'DistortionDosAnalogue';
  font-display: auto;
  src: url(assets/fonts/DistortionDosAnalogue.otf) format('truetype');
}

.App-header {
  margin: 0 0 0 5vh;
  color: white;
}

.App-past {
  font-family: GermaniaVersalien, arial, sans-serif;
  margin: 0 1vh 0 0;
}

.App-forward {
  font-family: DistortionDosAnalogue, arial, sans-serif;
  margin: 0;
}

.App-forward:after {
  content: '⏩';
  height: 28px;
  width: 28px;
  opacity: 0.75;
}

.App-About {
  float: right;
  font-size: 2em;
  margin: 2vh 2vh 0 0;
}

.App-About:before {
  content: "ⓘ";
}
