@font-face {
  font-family: 'Berolina';
  font-display: auto;
  src: url(assets/fonts/Berolina.ttf) format('truetype');
}

.Video,
.about-Container {
  overflow: auto;
  margin: 0;
}

video {
  position: relative;
  width: 100%;
  height: 35em;
  z-index: 9999;
  overflow: hidden;
}

.intro,
.end,
.about {
  position: relative;
  z-index: 9999;
  background: url(assets/intro.jpg);
  width: 100%;
  background-size: 100% 100%;
}

.intro-Text {
  display: block;
  font-family: Berolina, arial, sans-serif;
  text-align: center;
  font-size: 4vw;
  padding: 12vw 10vw;
}

.end-Text,
.about-Text {
  display: block;
  font-family: Berolina, arial, sans-serif;
  text-align: center;
  font-size: 2vw;
  padding: 12vw 10vw;
}

.association {
  position: relative;
  z-index: 9999;
  background: url(assets/intro.jpg);
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 640px) {
  .association {
    flex-direction: column;
  }

  .association-Container:first-child {
    padding-top: 30vw;
  }

  .association-Container:last-child {
    padding-top: 0;
    padding-bottom: 15vw
  }
}

.association-Container {
  font-size: 2vw;
  padding: 20vw 10vw 0;
}

.association-Text {
  font-family: Berolina, arial, sans-serif;
  text-align: center;
}

.association-Image {
  height: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
